{% load socialaccount %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">LSR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/blog/">
            Blog
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active"><a class="nav-link" href="/about_me/">
          About_me
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active"><a class="nav-link" href="/dashboard_drug/">
        Dashboard
        <span class="sr-only">(current)</span>
      </a>
    </li>
        <!-- <li class="nav-item"><a class="nav-link" href="#!">Skill</a></li> -->
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.username}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
        </div>
        </li>
        {% else %}
        <li class="nav-item">
          <!-- model 클릭 이벤트 요소 -->
          <a class="nav-link" href="#" data-toggle="modal"  data-target="#exampleModal">로그인</a>
        </li>
        {% endif  %}
      </ul>
    </div>
  </div>
</nav>
<!-- Button trigger modal -->
<!-- 로그인 버튼 -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">LogIn</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
      <div class="row">
        <div class="col-md-6">
      <a role="button" class="btn btn-outline-secondary col-12 " href="{% provider_login_url 'google' %}" ><i class="bi bi-google"></i> &nbsp; &nbsp; 구글 로그인</a>
    </div>
    <div class="col-md-6">
    <button style="border: none;"  type="button" onclick="location.href = '{% provider_login_url 'kakao' %}'"><img class = "kakao" src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" alt="" ></button>
    </div>
    <div class="col-md-6">
      <a href="/accounts/login/" class="btn btn-outline-secondary col-12" role="button"><i class="bi bi-envelope"></i>E-mail로 로그인</a>
    </div>
    <div class="col-md-6">
    <a role="button" class="btn btn-outline-secondary col-12 " href="/accounts/signup/"><i class="bi bi-envelope"></i>회원가입</a>
  </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
    </div>
  </div>
</div>
</div>